build: off

platform:
  - x64

environment:
  matrix:
    - TOXENV: "py27"
      PLATFORMIO_BUILD_CACHE_DIR: C:\Temp\PIO_Build_Cache_P2_{build}
      PYTHON_DIRS: C:\Python27-x64;C:\Python27-x64\Scripts

    - TOXENV: "py36"
      PLATFORMIO_BUILD_CACHE_DIR: C:\Temp\PIO_Build_Cache_P3_{build}
      PYTHON_DIRS: C:\Python36-x64;C:\Python36-x64\Scripts

install:
  - cmd: git submodule update --init --recursive
  - cmd: SET PATH=%PYTHON_DIRS%;C:\MinGW\bin;%PATH%
  - cmd: SET PLATFORMIO_CORE_DIR=C:\.pio
  - cmd: pip install --force-reinstall tox

test_script:
  - cmd: tox

notifications:
  - provider: Slack
    incoming_webhook:
      secure: E9H0SU0Ju7WLDvgxsV8cs3J62T3nTTX7QkEjsczN0Sto/c9hWkVfhc5gGWUkxhlD975cokHByKGJIdwYwCewqOI+7BrcT8U+nlga4Uau7J8=
    on_build_success: false
    on_build_failure: true
    on_build_status_changed: true
