[REPORTS]
output-format=colorized

[MESSAGES CONTROL]
disable=
    bad-continuation,
    bad-whitespace,
    missing-docstring,
    ungrouped-imports,
    invalid-name,
    cyclic-import,
    duplicate-code,
    superfluous-parens,
    too-few-public-methods,
    useless-object-inheritance,
    useless-import-alias,
    bad-option-value,

    ; PY2 Compat
    super-with-arguments,
    raise-missing-from
