[REPORTS]
output-format=colorized

[MESSAGES CONTROL]
disable=
    missing-docstring,
    duplicate-code,
    invalid-name,
    too-few-public-methods,
    consider-using-f-string,
    cyclic-import,
    use-dict-literal
